/* ICON BOOTSTRAP */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap&family=Oswald:wght@200..700&display=swap');

/* ROOT */
:root {
    --text-color-body: #161515f1;
    --bg-color-body: #6341aef1;
    --translate-slide: 0;
    --transition-slide: transform .3s ease-out;
}

/***************RESETEO************************ */

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    user-select: none;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    color: var(--text-color-body);
    background: #fcfcfc;
    font-size: .8rem;
}

img {
    max-width: 100%;
    object-fit: cover;
    display: block;
}

h1 {
    font-family: "Oswald", sans-serif;
    color: var(--text-color-body);
}

a {
    font-size: 1rem;
    display: block;
    text-decoration: none;
    color: var(--text-color-body);
    font-weight: bold;
    opacity: .8;
    transition: opacity .4s ease-in-out, transform .4s ease-in-out;
}

main {
    min-height: inherit;

}

p {
    font-size: .8rem;
}

/* CLASES PERSNALIZADAS PARA FLEXBOX */
.d-flex {
    display: flex;
}

/* justificacion centrada */
.jc-center {
    justify-content: center;
}

/* alineacion centrada */
.ai-center {
    align-items: center;
}

/* flex  around*/
.jc-space-a {
    justify-content: space-around;
}

/* flex between */
.jc-space-b {
    justify-content: space-between;
}

/* flex direccion columna */
.f-col {
    flex-direction: column;
}

/* flex direccion filas */
.f-row {
    flex-direction: row;
}

/* GAP */
.g-1x {
    gap: 1rem;
}

.g-0-5x {
    gap: .5rem;
}

.g-2x {
    gap: 2rem;
}

.g-3x {
    gap: 3rem;
}

/* CLASES CON OPACIDAD Y VISIBILIADA CERO */
.sub-menu__cv,
.profile__presentation,
.bi-x-square-fill--hide,
.bi-list {
    opacity: 0;
    visibility: hidden;
}

/* CLASES CON OPACIDAD Y VISIBILIADA 1 */
.profile__presentation--visible,
.sub-menu__cv--show,
.bi-x-square-fill,
.bi-list {
    opacity: 1;
    visibility: visible;
}

/*****************************CABECERA DE PÁGINA************************************/

/* HEADER */
.container-header,
.profile,
.profile__body,
.social,
.profile--column {
    margin-bottom: 3rem;
}

/* .container-header, */
.container-header {
   padding: 1rem;
}


/* NAVEGACION */
.container-header__nav {
    flex: 1;
    position: relative;
    transition: transform .4s ease-in-out;
}

/* NAV ESCONDIDO */
.container-header__nav--hide {
    position: fixed;
    inset: 0;
    transform: translateX(-100%);
    z-index: 1;
    background: #111010e8;
    line-height: 30px;
}

.container-header__nav--hide i{
    color: #FFF;
}
.container-header__nav--hide a{
    color: #FFF;
}
/****NAV DESPLEGADO*****/
.container-header__nav--show {
    transform: translateX(0);
}

/***ICONO DE TEMA****/
.bi-x-square-fill,
.container-header__list {
    font-size: 1.6rem;
}

.container-header__list--hide {
    display: none;
}

/*******ICONO CLOSED****************/
.bi-x-square-fill {
    position: absolute;
    top: .7rem;
    right: .7rem;
}

/* ICONOS QUE CONTENGAN CURSOR POINTER */
.bi-caret-up-fill,
.bi-caret-down-fill,
.bi-brightness-low {
    cursor: pointer;
}

/* SUB MENU DE CV*/
.sub-menu {
    position: relative;
}

/* LISTA DESORDENADA DE SUB MENU*/
.sub-menu__cv {
    position: absolute;
    transform: translateY(70%);
    line-height: 0;
    z-index: 2;
    border: 1px solid #494848;
    border-radius: 3px;
    padding: .6rem;
}

/****PDF*****/
.sub-menu__pdf {
    font-size: 1rem;
}

/* SUBMENU DESPLEGADO */
.sub-menu__cv--show {
    line-height: 25px;
}

/* LOGO */
.logo {
    width: 40px;
    height: 40px;
    background-color: black;
    color: #FFF;
    border-radius: 50%;
}

.logo--footer {
    width: 140px;
    height: 140px;
}

/***********************************SECCION DEL PERFIL************************************/
.profile {
    width: 95%;
    margin: 0 auto;
    justify-content: space-around;
}

.profile--column,
.profile__body--column {
    flex-direction: column-reverse;
}

.profile__body {
    overflow-x: hidden;
}

.profile__presentation {
    transform: translateX(-100%);
    transition: opacity .7s ease-in, visibility .7s ease-in, transform .9s ease-in;
}

.profile__presentation--visible {
    transform: translateX(0);
}

.profile__image,
.profile__presentation {
    height: 400px;
    flex: 1 0 35%;
    padding: .6rem;
}

.profile__presentation--line-height {
    line-height: 35px;
}

.profile__body {
    flex-basis: 70%;
}

.profile__image-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #FFFF;
    filter: opacity(.8);
}

.divisor {
    background: #FFF;
}

.divisor--vertical {
    display: none;
}

.divisor--horizontal {
    width: 90%;
    height: 1px;
    display: block;
}

.social {
    width: 100%;
    justify-content: space-between;
}

.social li {
    line-height: 70px;
}

.social__menu--footer li a i,
.social__menu li a i {
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
}

.social__menu--footer,
.social__menu {
    width: 100%;
    justify-content: space-evenly;
}

.social__icon {
    font-size: 1.2rem;
}

/*****************************CONTENIDO PRINCIPAL*******************************/

.container-proyects,
.container-skills {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem;
    color: #FFF;
}

.container-proyects__title,
.container-skills__title {
    text-align: center;
    font-size: 1.4rem;
    background: -webkit-linear-gradient(right, #141416, #3498db, #141416, #3498db);
    margin-bottom: 1rem;
    padding: 1rem;
}


/* --------------------------->PROYECTOS<------------------------------------- */
.section-proyects {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    gap: 1.3rem;
    justify-content: center;
}

.article-proyect {
    letter-spacing: 2px;
    font-weight: 700;
    padding: 1rem;
    border-radius: 5px;
    background: -webkit-linear-gradient(right, rgb(64, 64, 153), #03475cdd);
    color: #FFF;
}
.article-proyect__title{
    text-align: center;
    font-size: 1rem;
    text-decoration: underline;
    text-transform: uppercase;
}

.article-proyect__image {
    flex: 0 0 250px;
    height: 200px;
    margin-bottom: 1.5rem;
}

.article-proyect__desription{
    line-height: 30px;
    font-weight:normal;
    text-align: center;
}

/* SECCIÓN SKILLS */
.section-skills {
    position: relative;
    padding: .5rem;
    gap: 1rem;
}

.article-skill {
    flex: 1 0 100%;
    height: 120px;
    border-radius: 2px;
    background: -webkit-linear-gradient(right, #3b3942, #212024);
}

.article-skill__title {
    text-transform: uppercase;
}

/* SLIDER DE IMAGENES */
.slider {
    position: relative;
}

.slide {
    overflow: hidden;
}

.slide--translate {
    transform: translateX(var(--translate-slide));
}

.slide--transition {
    transition: var(--transition-slide);
}

/*volver a la posición inicial */
.slide--reset {
    transition: var(--transition-slide);
    transform: translateX(var(--translate-slide));
}

.bi-arrow-left-circle-fill,
.bi-arrow-right-circle-fill {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-size: 2.5rem;
    right: 2rem;
    color: #b8b8b8ec;
    opacity: .8;
    transition: opacity .5s ease-in-out, transform .5s ease-in-out;
    font-weight: bold;
    cursor: pointer;
}

.bi-arrow-left-circle-fill {
    left: 2rem;
}

/*--------------------------------->FOOTER <-----------------------*/
.container-footer {
    width: 100%;
    padding-top: 1rem;
    color: #FFF;
    background: #000000da;
}
.container-footer__nav .container-menu--col li > a{
    color: #FFF;
}

.container-footer>div {
    width: 100%;
}

.container-footer__nav {
    width: 100%;
}

.copyrigth p {
    text-align: center;
}

/******************HOVERS***************************/
@media(hover: hover) and (pointer: fine) {
    a:hover {
        opacity: 1;
        transform: scale(1.1);
    }
}


/**************************************MEDIAQUERYS******************************** */

/**********************************A PARTIR DE 568PX********************************/

@media screen and (min-width:568px) {
    .container-menu {
        flex-direction: row;
    }

    .bi-x-square-fill--hide {
        visibility: hidden;
        opacity: 0;
    }

    .container-header__nav {
        justify-content: end;
    }
}

/**********************************A PARTIR DE 768PX********************************/

@media screen and (min-width:768px) {

    .profile--column,
    .profile__body--column {
        flex-direction: row;
    }

    p {
        font-size: 1rem;
    }

    .divisor--vertical {
        display: block;
        width: 1px;
        height: 20rem;
    }

    .divisor--horizontal {
        display: none;
    }

    .social {
        width: 20%;
        justify-content: center;
    }

    .social__menu--footer,
    .social__menu {
        width: auto;
    }

    .article-skill {
        flex-basis: 33.3%;
    }
}

/**********************************A PARTIR DE 520PX********************************/
@media screen and (min-width:520px) {
    .article-skill {
        flex-basis: 50%;
    }

    .bi-list--hide {
        display: none;
    }
}

/***************************MEDIAQUERYS A PARTIR DE LOS 920PX***********************************/
@media screen and (min-width: 920px) {
    .article-skill {
        flex-basis: 25%;
    }
}